*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#form{
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgb(46, 44, 44);
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="number"],
select{
    width: 100%;
    margin: 6px 0;  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    background-color: #7D6BF2;
    color:black;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    border-radius: 20px;
}

label{
    font-size: large;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

header img{
    width: 150px;
    height: 200px;
}